.button {
  @apply flex justify-center items-center w-56 h-12 m-2 bg-white rounded-sm border border-gray-900 text-gray-900 transition-all hover:bg-gray-900 hover:bg-opacity-10 select-none cursor-pointer;
}

.button-primary {
  @apply flex justify-center items-center w-56 h-12 m-2 border-gray-900 text-white bg-gray-900 rounded-sm transition-all hover:border hover:text-gray-900 hover:bg-opacity-10 select-none cursor-pointer;
}

.button-disabled {
  @apply flex justify-center items-center w-56 h-12 m-2 border-gray-900 border-opacity-20 border rounded-sm text-gray-900 text-opacity-60 select-none cursor-pointer;
}

.text-clickable {
  @apply cursor-pointer hover:text-emerald-500;
}